html, body {
    margin:0;
    padding:0;
    width:100%; height:100%;
}
p, label, h2 {
    user-select: none;
    
}
body {
    background-image: url('/classic_joke/chat/wallpaper.jpg');
    background-size: 100% 100%;
    overflow: hidden;
}
.centerWindow {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aolLogo {
    width: 90%;
}
.alignItemsCenter {
    display: flex;
    align-items: center;
}
.flexdirectionColumn {
    flex-direction: column;
}
.breakline {
    width: 95%;
    background: black;
    height: 1px;
    margin-top: 9px;
    margin-bottom: 3px;
}
.screenNameInputLabel {
    width: 90%;
    font-size: 14px;
    font-style:oblique;
    font-weight: bold;
    color:rgb(0, 0, 106)
}
.passwordInputLabel {
    width: 90%;
    font-size: 14px;
    margin-top: 13px;
    font-weight: bold;
}
.options {
    margin-top: 10px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.window {
    position: absolute;
    top:200px;
    left:200px;
}
.signonContainer {
    width: 90%;
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    height: 55px;
}
#signon {
    position: relative;
    height: 50px;
    right: 0;
}
#help {
    height: 50px;
}
#setup {
    height: 50px;
}
.noMaximize {
    opacity: .5;
}
#helpWindow {
    top: 100px;
    left:100px;
}
.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.processingInfo {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: Arial;
    margin-bottom: 5px;
}
.programContainer {
    position: relative;
    left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    user-select: none;
    margin-top: 20px;
    padding: 8px 5px;
}
.selectedProgram {
    background: rgba(61, 135, 255, 0.483);
}
.programContainer p {
    margin:0; padding:0; font-family: "Pixelated MS Sans Serif",Arial;
    color: white;
    text-shadow: 1px 1px 2px black;
    margin-top: 5px;
    text-align: center;
}
.programContainer img{
    width: 40px;
    height: 40px;
}
.title-bar-text {
    user-select: none;
}
.notitleOverflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.resizeSetting {
    position: absolute;
    right:0;
    top:0;
    height: 100%;
    width: 4px;
}
.resizeSetting:hover {
    cursor:e-resize
}
.sumImportant{
    font-size: 13px;
    font-weight: bold;
       user-select: none;
}
.buddyClick {
    cursor: pointer;
    color:rgb(8, 8, 8);
    font-size: 13px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}
.buddyListTree {
    height: 250px;
    overflow-y: scroll;
}
.centerAlign {
    display: flex;
    width: 100%;
    justify-content: center;
    overflow: hidden;
}
.listOffline {
    color: rgba(0,0,0,0.4);
    font-weight: normal;
}
.title-icon {
    position: absolute;
    width: 20px;
    height: 20px;
}
.title-has-icon {
    margin-left: 25px;
}
.menu-bar {
    margin:0;
    padding: 0;
    width: calc(100% - 6px);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-box-shadow: 0px 1px 0px 0px rgba(255,255,255,.75);
    -moz-box-shadow: 0px 1px 0px 0px rgba(255,255,255,.75);
    box-shadow: 0px 1px 0px 0px rgba(255,255,255,.75);
    height: 20px;
    border-bottom: 1px solid rgb(134, 134, 134);
    display: flex;
    -webkit-box-shadow: inset 0px -8px 11px -8px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0px -8px 11px -8px rgba(0,0,0,0.25);
    box-shadow: inset 0px -8px 11px -8px rgba(0,0,0,0.25);
    font-family:  "Pixelated MS Sans Serif",Arial;
}
.menu-selection {
    display: block;
    color: black;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left: 8px;
    user-select: none;
    padding-right: 8px;
    max-width: 40px;
}
.menu-selection:hover {
    background: rgba(49,106,197,255);
    color:white;
}

.menu-bar-treeviews {
    position: absolute;
    top:48px;
    left: 3px;
    margin:0;
    padding:0;
    user-select: none;
}
.menu-bar-treeviews li {
    width: 200px;
    background: black;
    list-style-type: none;
    margin:0;
    padding:0;
}
.menu-bar-treeviews li ul {
    padding:0;
}
.menuTabs {
    position: absolute;
    top:48px;
    left:50%;
    transform: translateX(-50%);
    width: calc(100% - 6px);
}
.menuTabs ul {
    margin:0;
    padding:0;
    min-width: 150px;
    min-height: 20px;
    background:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2px;
    border: 1px solid gray;
    padding-bottom: 5px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
.menuTabs ul li {

    list-style-type: none;
    width: 98%;
    display: block;
    padding:3px 0px;
    margin:0;
    user-select: none;
    left:20px;
    font-size: 13px;
    font-family:  "Pixelated MS Sans Serif",Arial;
    display: flex;
}
.menuTabs ul li:hover:not(.unavailable) {
    background: rgba(49,106,197,255);
    color:white;
}
.menuiconSpacing {
    width: 15px;
    height: 15px;
    display: block;
    margin-right: 5px;
}
.tabBreakLine {
    width: 95%;
    height: 1px;
    background: rgb(165, 165, 165);
    margin:4px 0;
}
.unavailable{
    color: rgb(165, 165, 165)
}
.signOnA {
    width: 90%;
    user-select: none;
    font-family:  "Pixelated MS Sans Serif",Arial;
    margin-bottom: -5px;
    margin-top: 5px;
}
.signOnA span {
    cursor:pointer
}
.signOnA span:hover {
    text-decoration: underline;
}
.getscreenbody h2 {
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin:0;
    padding:0;
}
.getscreenbody p {
    padding: 0;
    margin: 0;
    font-size: 13px;
    margin-top: 5px;
}
.getscreenbody h3 {
    font-size: 15px;
    padding:0;
    margin: 5px 0;
    font-family:  "Pixelated MS Sans Serif",Arial;
    user-select: none;
}
.getscreenbody button {
    margin: 5px 0;
}