@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    margin:0;
    padding:0;
    height:100%;
    background-color: #292929;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
.topOutline {
    width: 100%;
    height: 5px;
    background-color: #87D4FF;
}
.topBar {
    margin-top:20px;
    width:95%;
    flex-direction: row;
}
.topbarLogo {
    align-self: flex-start;
    width:60px;
}
.pagesContainer {
    display:flex;
    align-items: center;
    height:50px;
    float:right;
}
.topbarIcon {
    fill: #fff;
    margin-right: 15px;
    margin-left: 15px;
}
.selected {
    fill: #87D4FF
}
.introLetter {
    margin:0;
    width:95%;
    font-weight: 100;
    font-size: 3em;
}

.boldFont {
    font-weight: 600;
}
.blueFont {
    color: #87D4FF;
    text-shadow: #87d3ff83 1px 0 10px;
}

.socialBar {
    margin-top: 30px;
    width:95%
}
.socialBar a {
    cursor: pointer;
    margin-right: 10px;
}
.socialBar svg {
    fill:rgba(255,255,255,0.4);
    transition: .2s ease-in-out;
}
.socialBar svg:hover {
    fill:rgb(255, 255, 255);
}
.header {
    font-size: 35px;
    font-weight: 400;
}
.activityContainer {
    display: flex;
}
.activityContainer img {
    padding-left: 25px;
    padding-right: 25px;
    object-fit: contain;
}  
.activityMargin {
    margin-top: 120px;
}
.projectsMargin {
    margin-bottom: 0;
    margin-top: 40px;
}
.subtitleProjects {
    margin-top:30px;
    font-size: 26px;
    width:45%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

}
.projectContainer {
    position: relative;
    width:95%;
    min-height:170px;
    background-color: #1A1A1A;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}
.projectImage {
    margin-left: 20px   ;
    height:70%;
}
.projectInfoContainer {
    width:calc(100% - 280px);
    height:70%;
    margin-left: 20px;
}
.projectHeader {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.projectHeader h2 {
    font-size: 30px;
    margin:0;
    font-weight: 500;
    margin-right: 5px;
}
.tag {
    margin:0;
    display: inline-block;
    font-weight: 800;
    font-size: 25px;
    height:100%;
    padding: 2px 15px;
    border-radius: 7px;
    margin-left: 10px;
}
.javascriptTag {
    color:#323330;
    background-color: #F0DB4F;
}
.htmlTag {
    background-color: #E34C26;
}
.cssTag {
    background-color: #264DE3;
}
.completedTag {
    background-color: #559B54;
}
.projectParagraph {
    font-size: 20px;
}
.designTag {
    background-color: #847ED0;
}
.andmore {
    padding:0;
    margin-top:60px;
    font-size: 30px;
}
.hyperlinkInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right:20px;
    bottom:0px;
}
.hyperlinkInfo h2 {
    font-weight: 400;
    font-size: 20px;
    margin-right: 10px;
}
.hyperlinkIcon {
    width:30px;
    height:30px;
    margin-right: 10px;
    object-fit: contain;
}
.pointerEnabled {
    cursor: pointer;
}

.cppTag {
    background-color: #3E67F9;
}
.incompleteTag {
    background-color: #FF5468;
}
.marginTopIntro {
    margin-top: 150px;
}
.collection {
    width: 95%;
    max-height: 220px;
    margin-top: 30px;
}
.collection h2 {
    font-weight: 400;
}
.collectionProject {
    position: relative;
    top:0;
    width: 320px;
    height: 240px;
    background: rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    transition: .15s ease-in-out top, .15s ease-in-out box-shadow;
    cursor: pointer;
    margin-right: 20px;
    color:white;
}
.collectionProject:hover {
    top:-5px;
    box-shadow: 0 0 15px 0 #ffffff45;

}
.collectionProject .projectImage {
    object-fit: cover;
    margin:0;
    height: 130px;
    width:320px;
    border-radius: 7px;
}
.collectionProject h2 {
    margin:0;
    font-size: 20px;
    font-weight: 500;
    width: 90%;
    text-decoration: none !important;

}
.collectionProject p {
    width: 90%;
    margin:0;
    margin-top:10px;
    text-decoration: none !important;

}
.portfolioScroll {
    padding-top: 10px;
    display: flex;
    overflow: visible;
    overflow-x: scroll;
    overflow-y: visible;
}

.projectImagesContainer {
    width: 100%;
    height: 400px;
    margin-top: 20px;
    background-color: #00000044;
}
.projectShowcaseImage {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.projectInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    height: 500px;
    background-color: #282828;
    margin-top: -50px;
    border-radius: 14px 14px 0 0;
    border: 1px solid #575757;
    overflow: hidden;

}
.projectInfoHeader {
    width: 90%;
    height: 160px;
}

.projectInfoDetailsContainer {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.projectInfoIcon {
    width: 100px;
    height: 100px;
    border-radius: 14px;
    box-shadow: 0px 5px 9px -.5px rgba(0, 0, 0, 0.4);
}
.projectTitleInfo p {
    margin:0;
    color: rgba(255,255,255,0.8);
    width: 45%;
}
.projectTitleInfo h2 {
    margin:0;
}
.projectTitleInfo {
    height: 50%;
}

.projectLinks {
    position: absolute;
    right:0;
    top:50%;
    transform: translateY(-50%);
    display: block;
    float:right;
    min-width: 180px;
    height: 70%;
}

.projectLinkButton {
    display: flex;
    width: 100%;
    text-align: center;
    padding: 10px;
    background: #215cff ;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    fill: white;
    margin-bottom: 10px;
    color:white;
    text-decoration: none !important;
}
.projectLinkButtonSVG {
    padding-right: 10px;
}

.projectLinkButtonMisc {
    display: flex;
    width: 100%;
    text-align: center;
    padding: 10px;
    background: none ;
    border: 2px solid rgba(136, 136, 136, 0.491);
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    fill: white;
    color:white;
    text-decoration: none !important;
}
@media only screen and (max-width: 600px) {
    .topBar {
        width:90%;
    }
    .introLetter {
        font-size: 40px;
        width: 90%;
    }
    .socialBar {
        width:90%
    }
    .marginTopIntro {
        margin-top: 60px;
    }
    .activityMargin {
        width:75%;
        text-align: center;
    }
    .activityContainer {
        flex-direction: column;
        align-items: center;
    }
    .activityContainer img {
        width:80%;
        padding-top: 20px;
    }
    .conestoga {
        height: 130px;
        object-fit: contain;
    }
    .projectInfoContainer {
        width:50%;
    }
    .projectContainer {
        padding-bottom: 40px;
        padding-top: 40px;
    }
    .projectHeader {
        flex-direction: column;
        align-items: flex-start;
    }
    .tag {
        margin-top: 5px;
        margin-left: 0px;
    }
    .subtitleProjects {
        width:80%
    }

}